<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
   
    <form>
        <label for="name">Name:</label>
        <input type="name" id="name" name="name" required />
        <label for="address">Address:</label>
        <input type="address" id="address" name="address"  />
        <button type="submit">Akademija</button>
    </form>

    <script type="text/javascript" src="/js/akademija.js"></script>
    
</body>
</html>