<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <h1>“Тест за backend развој на софтвер”</h1>
    <form>
        <label for="ime">Ime:</label>
        <input type="ime" id="ime" name="ime" required />
        <label for="adresa">Adresa:</label>
        <input type="adresa" id="adresa" name="adresa"  />
        <label for="oblast">Oblast:</label>
        <input type="oblast" id="oblast" name="oblast" />
        <button type="submit">Kurs</button>
    </form>

    <script type="text/javascript" src="/js/kurs.js"></script>
    
</body>
</html>